<p><%= link_to "Create event", events_new_path %></p>

<%= @user.attended_events.each do |event| %>
  <%= event %>
<% end %><br><br>

<% @upcoming_events.each do |event| %>
  <td><%= link_to "show", events_show_path(event) %></td>
  <tr>
    <td><%= event.description %></td>
  </tr>
<% end %><br><br>

<p>Previously attended events</p>
<% @previous_events.each do |event| %>
  <td><%= link_to "show", events_show_path(event) %></td>
  <tr>
    <td><%= event.description %></td>
  </tr>
<% end %>